html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,#e9d8a6,#ae2012);
}

canvas {
  display: block;
  margin:auto;
  margin-top:5rem;
  border-radius: 1em;
}
h1{
  background-color: #94d2bd;
  display: inline-block;
  border: 3px solid #0a9396;
  border-radius: 20px;
  padding: 0.5em;
  margin-left: 32vw;
}
.center{
  display: block;
  margin-left: 48vw;
}